<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Create New Employee</title>
</head>
<body>
<div align="center">
  <h1>Create New Employee</h1>
  <br />
  <form action="#" th:action="@{/save}" th:object="${employee}"
        method="post">

    <table border="0" cellpadding="10">
      <tr>
        <td>Imię:</td>
        <td><input type="text" th:field="*{name}" /></td>
      </tr>
      <tr>
        <td>Nazwisko:</td>
        <td><input type="text" th:field="*{surname}" /></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" th:field="*{email}" /></td>
      </tr>
      <tr>
        <td>Telefon:</td>
        <td><input type="text" th:field="*{phone}" /></td>
      </tr>
      <tr>
        <td>Data zatrudnienia:</td>
        <td><input type="date" th:field="*{employment_date}" /></td>
      </tr>
      <tr>
        <td>Wynagrodzenie:</td>
        <td><input type="number" step="0.01" th:field="*{salary}" /></td>
      </tr>
<!--      <tr>-->
<!--        <td>Adres:</td>-->
<!--        <td><input type="text" th:field="*{address}" /></td>-->
<!--      </tr>-->
<!--      <tr>-->
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>